Source: edor
Section: utils
Priority: optional
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: libncurses-dev, libunwind-dev [armhf], debhelper-compat (= 12), dh-autoreconf
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/edor

Package: edor
Architecture: amd64 arm64 armhf
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
#, libncurses6, libunwind8 [armhf]
Description: CUI text editor
